{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}

    <div class="stats">
        <div class="header">
            Statistics
        </div>
        <div class="body">
            <div class="stat">
                <div class="icon">
                    <span class="material-icons">local_offer</span>
                </div>
                <div class="number">
                    <span>{{ stats['domains'] }}</span>
                    <span>domains</span>
                </div>
            </div>
            <div class="stat">
                <div class="icon">
                    <span class="material-icons">mail</span>
                </div>
                <div class="number">
                    <span>{{ stats['mailboxes'] }}</span>
                    <span>mailboxes</span>
                </div>
            </div>
            <div class="stat">
                <div class="icon">
                    <span class="material-icons">alternate_email</span>
                </div>
                <div class="number">
                    <span>{{ stats['aliases'] }}</span>
                    <span>aliases</span>
                </div>
            </div>
            <div class="stat">
                <div class="icon">
                    <span class="material-icons">dns</span>
                </div>
                <div class="number">
                    <span>9 Gb</span>
                    <span>Disk usage</span>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
