{% extends 'base.html.twig' %}


{% block stylesheets %}

{% endblock %}

{% block title %}Hello DomainController!{% endblock %}

{% block body %}
    <div class="domains box">
        <div class="box-header">
            My domains
        </div>
        <div class="box-body">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Domain</th>
                    <th># Mailboxes</th>
                    <th># Aliases</th>
                    <th>Backup</th>
                    <th>Enable</th>
                </tr>
                </thead>
                <tbody>
                {% for item in domains %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>
                            <span class="badge badge-warning">{{ item.domain }}</span></td>
                        <td>
                            <span class="badge badge-info">
                                {{ item.mailboxes.count }}
                            </span>
                        </td>
                        <td>
                            <span class="badge badge-info">
                                {{ item.aliases.count }}
                            </span>
                        </td>
                        <td>
                            {% if item.backupMx %}
                                <span class="badge badge-success">
                                    <span class="material-icons">check</span>
                                </span>
                            {% else %}
                                <span class="badge badge-danger">
                                    <span class="material-icons">close</span>
                                </span>
                            {% endif %}
                        </td>
                        <td>
                            {% if item.isActive %}
                                <span class="badge badge-success">
                                    <span class="material-icons">check</span>
                                </span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
