.badge {
  padding: 5px;
  display: inline-flex;
  width: auto;
  border-radius: 5px;
  margin: 5px 0;
}

.badge-danger {
  background: var(--danger-base);
}
.badge-success {
  background: var(--success-base);
}
.badge-warning {
  background: var(--warning-base);
  color: black;
}
.badge-info {
  background: var(--primary-base);
  color: white;
}
