form.form {
  display: flex;
  flex-direction: column;

  & > .input-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0;

    & > .label {
      color: var(--font-color);
      font-family: 'Raleway', sans-serif;
      display: flex;
      align-items: center;
      margin: 10px 0;

      & > label {
        margin: 0 5px 0 0;
      }

      & > .help-text {
        font-style: italic;
        font-size: 0.75em;
      }
    }
  }
}

input[type=checkbox].input {
  appearance: inherit;
  width: 16px;
  height: 16px;
  padding: 0;
  text-align: center;

  &:checked {
    &:after {
      content: '✓';
      color: var(--success-base);
    }
  }
}

input.input {
  border-radius: 5px;
  padding: 10px 5px;
  border: none;
  background: var(--background);
  color: var(--font-color);

  &:focus-visible {
    outline: none;
  }
}

@each $item in ["success", "warning", "danger"] {
  input.input-#{$item} {
    box-shadow: inset 0px -2px var(--#{$item}-base);
  }
}