table.table {
  border-spacing: 0;
  width: 100%;

  & > thead {
    & > tr {
      & > td, & > th {
        color: var(--font-color);
        font-family: "Raleway", sans-serif;
        text-align: center;
        background: var(--transparent);
        padding: 10px;
        font-weight: 900;
      }
    }
  }

  & > tbody {
    & > tr {
      &:nth-child(even) {
        background: var(--transparent);
      }

      & > td, & > th {
        color: var(--font-color);
        text-align: center;
        padding: 5px;
        font-family: "Roboto Thin", sans-serif;
        font-weight: 200;

        & > ul {
          list-style: none;
        }
      }
    }
  }
}

form.table-search {
  width: 25%;
  float: right;
  display: flex;
  align-items: flex-end;
}

div.pagination {
  margin: 10px 0;
  &>button {
    background: var(--background);
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.10);
    color: var(--font-color);
    font-size: 1.25em;
    cursor: pointer;
    transition: background 500ms ease-in-out;
    &:first-child {
      border-radius: 5px 0 0 5px;
    }
    &:last-child {
      border-radius: 0 5px 5px 0;
    }

    &:hover {
      background: var(--primary-transparent);
    }
  }
  &>.button-disable {
    background: var(--primary-transparent);
    cursor: not-allowed;
  }

}