.statistics {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 20px auto;
  flex-flow: wrap;
  &>.stats-card {
    width: 300px;
    background: $green;
    margin: 5px 10px;
    border-radius: 5px;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    transition: background 1s ease-in-out;
    &>.icon {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      background: rgba(255,255,255,0.3);
      height: 60px;
      width: 60px;
      border-radius: 33px;
    }
    &>.desc {
      width: calc(100% - 60px);
      font-family: "RobotoLight", sans-serif;
      &>span {
        display: flex;
        flex: 1;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 32px;
      }
      font-size: 22px;
      text-align: center;
    }
    &:hover {
      background: lighten($green, 10%);
    }
  }

}