@import "main";
@import "components/dashboard_statistics";

.body {
  width: 100%;
  flex: 1;
  display: flex;

  & > .left {
    display: flex;
    width: calc(15% - 20px);
    margin: 10px 10px 10px 0;
    border-radius: 0 15px 15px 0;
    flex: 1;
    //background: #203A43;
    background: linear-gradient($primary, $secondary);
    flex-direction: column;

    & > .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      height: 200px;
      width: 100%;
      color: white;

      & > span {
        margin: 10px 0;
        font-family: "RobotoRegular", sans-serif;
      }

      & > .logo {
        width: 64px;
        height: 64px;
        border-radius: 30px;
        background: #AAAAAA;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    & > .navigation {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      & > span {
        color: white;
        font-weight: 100;
        font-family: "RobotoLight", sans-serif;
        margin: 3px;
      }

      & > ul {
        width: 100%;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        flex-direction: column;

        & > li {
          width: 100%;
          cursor: pointer;
          align-items: center;
          justify-content: center;
          transition: background 300ms ease-in-out;

          & > a {
            display: flex;
            margin: 0 auto;
            padding: 10px 0;
            width: 100%;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: white;
            font-family: "RobotoRegular", sans-serif;

          }

          &:hover {
            background: rgba(255,255,255,0.2);
          }
        }
      }
    }

  }

  & > .right {
    width: calc(85% - 20px);
    background: $container;
    margin: 10px;
    border-radius: 15px;
    &>header{
      background: linear-gradient($primary, $secondary);
      border-radius: 15px 15px 0 0;
      padding: 5px;
      &>h1 {
        text-align: center;
        color: white;
        font-family: "RobotoRegular", sans-serif;
      }
    }
  }
}