@import "main";
@import "components/dashboard_statistics";
body {
  &>.header {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    background: $primary;
    padding: 20px;
    &>.left {
      width: 20%;
      font-family: "RobotoLight", sans-serif;
      text-transform: uppercase;
      font-size: 20px;
      &>svg {
        color: $font-special;
      }
    }
    &>.right {
      width: 80%;
      display: flex;
      justify-content: flex-end;
      font-family: "RobotoRegular",sans-serif;
    }
  }
}
.body {
  width: 100%;
  flex: 1;
  display: flex;

  & > .left {
    display: flex;
    width: calc(15% - 30px);
    flex: 1;
    margin: 15px;
    border-radius: 15px;
    background: $primary;
    flex-direction: column;

    & > .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      height: 200px;
      width: 100%;
      color: $font-primary;

      & > span {
        margin: 10px 0;
        font-family: "RobotoRegular", sans-serif;
      }

      & > .logo {
        width: 64px;
        height: 64px;
        border-radius: 30px;
        background: $font-special;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-family: "RobotoRegular", sans-serif;
      }
    }

    & > .navigation {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      & > span {
        color: $font-primary;
        font-weight: 100;
        font-family: "RobotoLight", sans-serif;
        margin: 3px;
      }

      & > ul {
        width: 100%;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        flex-direction: column;

        & > li {
          width: 100%;
          cursor: pointer;
          align-items: center;
          justify-content: center;
          transition: background 300ms ease-in-out;

          & > a {
            display: flex;
            margin: 0 auto;
            padding: 10px 0;
            width: 100%;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: $font-primary;
            font-family: "RobotoRegular", sans-serif;
          }

          &:hover {
            background: rgba(255,255,255,0.2);
          }
        }
      }
    }

  }

  & > .right {
    width: calc(85% - 30px);
    background: $container;
    margin: 15px;
    border-radius: 15px;
    &>header{
      background: $primary;
      border-radius: 15px 15px 0 0;
      padding: 15px;
      &>h1 {
        color: $font-primary;
        font-family: "RobotoLight", sans-serif;
      }
    }
  }
}