@import "main";

#loginForm {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 3px rgba(0,0,0,0.3);
  width: 350px;
  color: white;
  &>h1 {
    color: $font-special;
    font-family: "RobotoRegular", sans-serif;
    text-align: center;
  }
  &>input {
    margin-bottom: 30px;
  }
  &>label {
    color: $font-primary;
  }
  &>button {
    color: white;
    background: darken($special,10%);
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
    transition: background 500ms ease-in-out;
    border: 1px solid darken($special,10%);
    cursor: pointer;
    &:hover {
      background: white;
      color: $font-special;
    }
  }
}