$primary: white;
$secondary: #f2f2fd;
$special: #2F45C5;
//Background of container
$background: #3b0202;
$container: white;

//Main color
$green: #27ae60;

//Font
$font-primary: black;
$font-special: #2F45C5;
