body {
  align-items: center;
  justify-content: center;
}
div.login {
  margin: 0 auto;
  align-self: center;
  background: var(--background-overlay);
  display: flex;
  flex-direction: row;
  border-radius: 10px 0 0 10px;
  &>.img {
    height: 100%;
    display: flex;
    flex: 1 0;
    &>img {
      height: 100%;
    }
  }



  &>.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    &>h1 {
      text-align: center;
      margin: 10px auto;
    }
    &>form {
      width: 75%;
      margin: 0 auto;
    }
  }

}