body {
  align-items: center;
  justify-content: center;
}
div.login {
  margin: 0 auto;
  align-self: center;
  background: var(--background-overlay);
  display: flex;
  flex-direction: row;
  border-radius: 10px 0 0 10px;
  &>.img {
    height: 100%;
    &>img {
      height: 100%;
    }
  }

  &>form {
    display: flex;
    flex-direction: column;
    width: 500px;
    &>h1 {
      color: var(--font-colr);
      margin: 20px auto;
    }

  }

}