{% extends 'administration/admin_base.html.twig' %}

{% block title %}Home{% endblock %}

{% block right %}

    <header>
        <h1>Dashboard</h1>
    </header>

    <div class="content">




    </div>

{% endblock %}
