{% extends 'administration/admin_base.html.twig' %}

{% block title %}Home{% endblock %}

{% block right %}

    <header>
        <h1>Dashboard</h1>
    </header>

    <div class="content">

        <div class="statistics">
            <div class="stats-card">
                <div class="icon">
                    <i class="fas fa-user"></i>
                </div>
                <div class="desc">
                    <span>{{ count['user'] }}</span>
                    Users
                </div>
            </div>
            <div class="stats-card">
                <div class="icon">
                    <i class="fas fa-globe"></i>
                </div>
                <div class="desc">
                    <span>{{ count['domain'] }}</span>
                    Domains
                </div>
            </div>
            <div class="stats-card">
                <div class="icon">
                    <i class="fas fa-envelope"></i>
                </div>
                <div class="desc">
                    <span>{{ count['mailbox'] }}</span>
                    Mailboxes
                </div>
            </div>
        </div>

    </div>

{% endblock %}
